*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;	
}

.headm{
 background-image: url(home.png);
 height: 95vh;
 background-size: cover;
 background-position: center; 
} 

.headi{
	background-image: url(intro.png);
	height: 95vh;
	background-size: cover;
	background-position: center;

}

.headp{
	background-image: url(learn_1.png);
	height: 95vh;
	background-size: cover;
	background-position: center;

}

.headl{
	background-image: url(about.png);
	height: 95vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none; 
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
 
 ul li.active a{
 	background-color: #fff;
	color: #000; 
 }


.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 45%;
	left: 23.5%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 50px;
}

.title h2{
	line-height: 40px;
	color: #fff;
	font-size: 20px;
}

.button{
	position: absolute;
	top: 73%;
	left: 13.5%;
	transform: translate(-50%,-50%);

}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;

}

.sub h1{
	color: #fff;
	position: absolute;
	font-size: 20px;
	top: 5%;
	left: 14%;
	transform: translate(-50%,-50%);

}

.footer{
	height: 5vh;
	background-color: #000;
}

.footer h5{
	position: absolute;
	padding: 10px 10px;
	left: 45%;
	color: rgba(255, 255, 255, 0.616);
}

.active1{
	background-color: #fff;
	color: #000; 
}

.content h1{
	color: #fff;
	position: absolute;
	top: 30%;
	left: 15%;
	transform: translate(-50%,-50%);
}

.content p{
	color: #fff;
	position: absolute;
	top: 35%;
	left: 9%;
	font-size: large;
	line-height: 1.8;

}

.html h1{
	color: #fff;
	position: absolute;
	top: 15%;
	left: 25%;
	font-size: 25px;
	transform: translate(-50%,-50%);
}

.html p{
	color: #fff;
	position: absolute;
	top: 20%;
	left: 7%;
	font-size: 15px;
	line-height: 1.8;
}

.css h1{
	color: #fff;
	position: absolute;
	top: 40%;
	left: 75%;
	font-size: 25px;
	transform: translate(-50%,-50%);
}

.css p{
	color: #fff;
	position: absolute;
	top: 45%;
	left: 7%;
	font-size: 15px;
	line-height: 1.8;
}

.js h1{
	color: #fff;
	position: absolute;
	top: 70%;
	left: 16.5%;
	font-size: 25px;
	transform: translate(-50%,-50%);
}

.js p{
	color: #fff;
	position: absolute;
	top: 75%;
	left: 7%;
	font-size: 15px;
	line-height: 1.8;
}

.content3{
	color: #fff;
	font-size: large;
	line-height: 1.5;
}

.content3 h1{
	position: absolute;
	top: 30%;
	left: 9%;
	
}

.content3 p1{
	position: absolute;
	top: 32%;
	left: 9%;
}

.content3 p2{
	position: absolute;
	top: 40%;
	left: 9%;
}

.content3 p3{
	position: absolute;
	top: 68%;
	left: 9%;
}


